/* header{
    padding-top: 0px;
    padding-bottom: 5px;
} */
#search{
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom:50px;
}
table{
    border-collapse: collapse;
    margin: auto;
    /* height: 100%; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
th , td{
    height: 41px;
    text-align: center;
    border: 0.1px solid rgb(228, 228, 228);
    width: 250px;
}
tr:nth-child(even) {
    background-color: #ececec;
}
button {
    background-color: #383838;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 17px;
    margin: 4px 6px;
    cursor: pointer;   
}
footer{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 0px;
}